<div class="profile-card">
<img src="{{ site.url }}{{ site.baseurl }}/images/{{ site.photo }}" class="profile-photo" alt="{{ site.name }}" loading="lazy">
<h4 class="profile-name">{{ site.name }}</h4>
<p class="profile-institution">{{ site.institution }}</p>
{% if site.data.pi[0].educationshort %}
<ul style="text-align: left; margin-top: var(--space-4); list-style: none; padding-left: 0;">
{% for education in site.data.pi[0].educationshort %}
<li style="font-size: 0.875rem; color: var(--text-secondary); padding: var(--space-1) 0;">{{ education | replace: "-","&#8211;" }}</li>
{% endfor %}
</ul>
{% endif %}
</div>

<div class="section-card" style="margin-top: var(--space-6);">
<h4 style="margin-top: 0;">News</h4>
<div class="news-timeline">
{% for article in site.data.news limit:3 %}
<div class="news-item">
<div class="news-date">{{ article.date }}</div>
<div class="news-headline">{{ article.headline }}</div>
</div>
{% endfor %}
</div>
<p style="margin-top: var(--space-4);"><a href="{{ site.url }}{{ site.baseurl }}/allnews.html">See all news &rarr;</a></p>
</div>
